@font-face {
    font-family: 'GomePixel';
    src: url('fonts/GomePixel-ARJd7.otf') format('opentype');
}

.page {
    display: none;
    text-align: center;
}


.page.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startButton {
    font-family: 'GomePixel';
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid #5a5a7b;
    border-radius: 8px;
    background-color: #fff;
    color: #5a5a7b;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'GomePixel', cursive, sans-serif;
    background-image: url('assets/gingham.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 350px;
    height: 460px;
    background: transparent;
    border: 5px solid #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.header {
    font-family: 'GomePixel';
    text-align: center;
    color: h#254c7c;
    padding: 10px;
    font-size: large;
    background-color: #ffffff;
    border: 3px solid #ffffff;
}

.character-display {
    position: relative;
    width: 350px; 
    height: 400px; 
}


.character-display img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    object-fit: contain;
}


#base-img { z-index: 1; }
#bottom-img { z-index: 2; }
#top-img { z-index: 4; }
#hair-img { z-index: 3; }
#shoes-img { z-index: 5; }

.clothing-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon-frame {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    box-shadow: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-frame:hover {
    transform: scale(1.1);
}

.icon-frame img {
    width: 80%;
    height: 80%;
    object-fit: fill;
}

.controls {
    display: flex;
    gap: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #5a5a7b;
    border-radius: 8px;
    color: #5a5a7b;
}